{% extends 'kyi/layout.html' %}

{% block content %}
  <form method="POST">
    {% for text in data %}
      <div class="form-group">
        <label>
          {{ loop.index }}
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </label>
        <textarea class="form-control text-input" name="text" rows="3" {{ disabled }}>{{ text }}</textarea>
      </div>
    {% endfor %}
    {% if not data %}
      <button type="button" class="btn btn-primary" id="add-btn">Add new content</button>
    {% endif %}
  </form>
{% endblock %}

{% block bottom_script %}
  <script>
    $('#add-btn').click(function() {
      var tmpl = $('#form-group-tmpl').html();
      var html = Mustache.render(tmpl, {
        label: '#' + ($('.text-input').length+1),
        text: ''
      });
      $(html).insertBefore(this);
    });
  </script>
{% endblock %}
