<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>The Editor</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/kyi/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" href="">Knowyourinside Editor</a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default navbar-btn" id="trim-btn">Trim</button>
          <button type="button" class="btn btn-primary navbar-btn" id="save-btn">{{ save_btn }}</button>
        </div>
      </div>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="bg-warning flash-message">{{ messages[0] }}</p>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script type="text/mustache-tmpl" id="form-group-tmpl">
    {% raw %}
      <div class="form-group">
        <label>
          {{ label }}
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </label>
        <textarea class="form-control text-input" name="text" rows="3">{{ text }}</textarea>
      </div>
    {% endraw %}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js"></script>
    <script>
    $('#save-btn').click(function(){
      $('form').submit();
    });
    $('#trim-btn').click(function(){
      $('textarea').each(function() {
        var elem = $(this);
        elem.val($.trim(elem.val()));
      });
    });
    $('body').on('click', '.close', function() {
      if (confirm('Sure?')) {
        $(this).parents('.form-group').remove();
      }
    });
    </script>
    {% block bottom_script %}{% endblock %}
  </body>
</html>
