{% extends 'kyi/layout.html' %}

{% block content %}
  <form method="POST">
    {% for label, text in data %}
      <div class="form-group">
        <label>{{ label | replace('\n', '<br>') | safe }}</label>
        <textarea class="form-control text-input" name="text" rows="3">{{ text }}</textarea>
      </div>
    {% endfor %}
  </form>
  <p class="text-success">last modified: {{ mtime }}</p>
  <p class="text-success">word count: {{ word_count }} | char count: {{ char_count }}</p>
{% endblock %}
