body {
  padding-top: 70px;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;
  text-align: center;
  display: none;
}

#mask p {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 30px;
}

button {
  outline: none;
}

button:focus, button:active {
 outline: none !important;
}

#dropzone {
  border: 5px dashed #ccc;
  width: 600px;
  height: 400px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

#dropzone h3 {
  margin-top: 30%;
}

#dropzone p {
  color: gray;
}

#file-handler {
  display: none;
}

#save-btn {
  margin-right: 50px;
  display: none;
}

#sort-btn {
  margin-right: 10px;
  display: none;
}

textarea.question-content {
  margin-bottom: 10px;
}

input.score-input {
  text-align: center;
}

div.edit-area {
  width: 60%;
  padding-right: 20px;
}

div.preview-area {
  width: 40%;
}

button.rm-answer-btn {
  margin-right: 15px;
  margin-top: 5px;
}

#question-editor, #json-editor {
  display: none;
}

#json-editor select,
#json-editor h3,
#json-editor div[data-schemaid="root"] > label {
  display: none !important;
}

#question-editor ul {
  list-style: none;
}

.question-fold {
  display: none;
}

ul.sortable li.sortable-placeholder {
  border: 1px dashed #CCC;
  height: 100px;
}

.add-question-btn {
  margin-bottom: 50px;
}

.preview-area table.q {
  margin-top: 5px;
  font-size: .7em;
  font-weight: normal;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.preview-area table.q td {
  border: 1px #bbb solid;
  padding:5px;
}

.mtime {
  color: #grey;
  text-align: center;
  display: none;
}

.word-count {
  text-align: center;
}


.well > label {
  display: none;
}


.text-warning {
  color: red;
}

.delete-by-key {
  color: #F00;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.btn-add-key {
  margin-bottom: 15px;
}

.delete-by-key, .btn-add-key {
  display: none;
}
