{% import "utils.html" as utils %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Question Editor</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css?v=2">
    <link rel="stylesheet" href="/static/common.css">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
          <span id="validate-result"></span>
          {{ utils.operations(lang, quiz, langs, quizs, editor_urls) }}
          <button type="button" class="btn btn-default navbar-btn" id="sort-btn">Sort</button>
          <button type="button" class="btn btn-primary navbar-btn" id="save-btn" data-loading-text="Saving...">Save</button>
        </div>
      </div>
    </nav>

    <div id="dropzone">
      <h3>Click or Drag & Drop file to open</h3>
      <p>(.txt or .json)</p>
    </div>
    <input type="file" id="file-handler" accept=".txt,.json" >

    <div class="container" id="question-editor">
      <ul class="sortable">
        <li class="panel panel-info" rv-each-question="questions">
          <div class="panel-heading">
            <b>Question <span rv-text="question.index"></span></b>
            <button type="button" class="close rm-question-btn" rv-remove="questions.question"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="panel-body">
            <div class="question-full">
              <div class="edit-area pull-left">
                <textarea class="form-control question-content" rows="4" placeholder="question text" rv-value="question.content"></textarea>
                <ul class="list-group">
                  <li class="list-group-item" rv-each-answer="question.answers">
                    <div class="row">
                      <div class="col-xs-2">
                        <input class="form-control score-input" placeholder="score" rv-value="answer.score" />
                      </div>
                      <div class="col-xs-9">
                        <input class="form-control" placeholder="answer text" rv-value="answer.content" />
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close rm-answer-btn" rv-remove="question.answers.answer"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </li>
                </ul>
                <button type="button" class="btn btn-default btn-sm" rv-append="question.answers" data-defaults='{"score":0, "content":""}'>add answer</button>
              </div>
              <div class="panel panel-default preview-area pull-right">
                <div class="panel-heading">Preview</div>
                <div class="panel-body" rv-html="question.content"></div>
                <ul class="list-group">
                  <li class="list-group-item checkbox" rv-each-answer="question.answers">
                    <label>
                      <input type="checkbox"><span rv-html="answer.content"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="question-fold">
              <p rv-html="question.content"></p>
            </div>
          </div>
        </li>
      </ul>
      <button type="button" class="btn btn-primary btn-sm add-question-btn" rv-append="questions" data-defaults='{"content":"", "answers":[]}'>add question</button>
    </div>

    <div class="container" id="json-editor"></div>

    <div id="mask"><p>Loading...</p></div>

    <p class="mtime"></p>
    <p class="word-count"></p>

    <div class="modal fade" tabindex="-1" role="dialog" id="import-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Import Text</h4>
          </div>
          <div class="modal-body">
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="import-btn">Import</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/config.js"></script>
    <script src="/static/vendor.js?v=5"></script>
    <script src="/static/js/common.js?v=1"></script>

    {% if request.args.get('dev') %}
      <script src="/static/js/parser.js"></script>
      <script src="/static/js/utils.js"></script>
      <script src="/static/js/main.js"></script>
    {% else %}
      <script src="/static/app.js?v=29"></script>
    {% endif %}

  </body>
</html>
