{% macro operations(lang, quiz, langs, quizs, editor_urls) -%}
  <div class="operations">
    <script>
      window.quiz = '{{ quiz }}';
      window.lang = '{{ lang }}';
    </script>
    {% if quizs %}
    <select id="quiz_pick">
      {% for quiz_ in quizs %}
        {% if quiz_ == quiz %}
          <option selected>{{ quiz_ }}</option>
        {% else %}
          <option>{{ quiz_ }}</option>
        {% endif %}
      {% endfor %}
    </select>
    {% endif %}
    {% if langs %}
    <select id="lang_pick">
      {% for lang_ in langs %}
        {% if lang_ == lang %}
          <option selected>{{ lang_ }}</option>
        {% else %}
          <option>{{ lang_ }}</option>
        {% endif %}
      {% endfor%}
    </select>
    {% endif %}
    <a href="http://www.arealme.com/{{ quiz }}/{{ lang }}" target="_blank">live demo</a>
    {% for label, url in editor_urls %}
      <span>|</span>
      <a href="{{ url }}" target="_blank">{{ label }}</a>
    {% endfor %}
  </div>
{%- endmacro %}
