{% import "utils.html" as utils %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSV Editor</title>
  <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/libs/handsontable/dist/handsontable.full.min.css">
  <link rel="stylesheet" href="/static/common.css">
  <style>
    body {
      padding: 10px;
      font-size: 9px;
    }
    .actions {
      margin-bottom: 10px;
    }
    .actions p {
      margin-top: 10px;
    }
    #quiz_title {
      padding: 0 6px;
      background: #fdd;
      font-weight: bold;
    }
    .feature-cell {
      background-color: #ffe !important;
    }
    .invalid-cell {
      color: red;
      border: 1px solid red !important;
    }
    #save-btn {
      margin-left: 20px;
    }
    .footer {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="actions">
    <div class="btn-group">
      <button type="button" id="fork-btn" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fork To <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {% for lang_ in ALL_LANGS %}
          {% if lang_ != lang %}
            <li><a href="javascript:void(0)" class="fork-action">{{ lang_ }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <button class="btn btn-primary pull-right" id="save-btn" data-loading-text="Saving...">Save</button>
    {% if lang == 'cn' or lang == 'zh' %}
      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-default" id="jian-btn">简</button>
        <button type="button" class="btn btn-default" id="fan-btn">繁</button>
      </div>
    {% endif %}
    {{ utils.operations(lang, quiz, langs, quizs, editor_urls) }}
    <p>
      <span id="quiz_title">{{quiz_title}}</span>
      <span>| Count of features: </span>
      <select id="feature-num-selector">
        {% for n in range(1, 21) %}
          {% if n == feature_num %}
            <option selected>{{ n }}</option>
          {% else %}
            <option>{{ n }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>
  </div>
  <div id="grid"></div>
  <div class="footer">
    <p>last modified: {{ last_modified }}</p>
    <p>count by characters: {{ char_count }} | count by words: {{ word_count }}</p>
  </div>
  <script>
    window.featureNum = {{ feature_num }};
    window.savedColWidths = {{ col_widths }};
  </script>
  {% assets filters="jsmin", output="dist/editor.js",
            "libs/underscore/underscore-min.js",
            "libs/jquery/dist/jquery.min.js",
            "libs/papaparse/papaparse.min.js",
            "libs/jQuery-linkify/dist/jquery.linkify.min.js",
            "libs/bootstrap/dist/js/bootstrap.min.js",
            "libs/handsontable/dist/handsontable.full.min.js",
            "js/common.js",
            "js/jf.js",
            "csv/editor.js" %}
    <script type="text/javascript" src="{{ ASSET_URL  }}"></script>
  {% endassets %}
</body>
</html>
